  .banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
             .heading {
                       color:#BE3E23;
            }
            body {
                background-color:lightblue;
            }
 .monkey  {
            margin-left: 111.667; 
  margin-right: 111.667;
            }
            .table {
        text-align: center;
      }
       
