.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
             .heading {
                       color:#BE3E23;
            }
            body {
                background-color:lightblue;
            }
       
